body{
    font-family:sans-serif ;
    max-width:50%;
    margin: auto;
    color: #333;
}
.header{
    display: flex;
    align-items: center;
}
.face{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:50%;
    margin-top: 20px;
}
.title{
    flex: 1;
    margin-left: 20px;
}
.name{
    color: green;
}
.coral{
    color: coral;
}
.qualification{
    letter-spacing: 1px;
}
.hrline{
    border:1px solid coral;
}
.tableheading{
    min-width: 300px;
    display: block;

}
.tableprop{
    font-size: 22px;
    color:coral;
}
.marginfix{
    margin-top: 20 px;
}
.jobheading{
    font-size: 20px;
    line-height: 25px;
}
.jobduration{
    font-weight:300;
    line-height: 25px;
}
.jobdes{
    margin-top: 20px;
    font-size:  15 px;
}